.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.dashboard-icon {
    min-width: 33%;
}

.update-container {
    height: 40px;
    width: 100%;
    margin-top: 25%;
    text-align-last: center;
}